# Practical 1

In [5]:
import pandas as pd

# Step 1: Create Sample Dataset
data_rimsha = {
    'Region': ['North', 'South', 'East', 'West', 'North', 'South', 'East', 'West'],
    'Product': ['A', 'B', 'A', 'B', 'C', 'C', 'B', 'A'],
    'Sales': [150, 200, 300, 400, 250, 180, 220, 310],
    'Quantity': [10, 15, 20, 25, 12, 14, 16, 18],
}

In [6]:
df_rimsha = pd.DataFrame(data_rimsha)
print("Sample Dataset: \n", df_rimsha)

Sample Dataset:
   Region Product  Sales  Quantity
0  North       A    150        10
1  South       B    200        15
2   East       A    300        20
3   West       B    400        25
4  North       C    250        12
5  South       C    180        14
6   East       B    220        16
7   West       A    310        18

In [7]:
# Step 2: Grouping and Aggregation
# Aggregating Sales by Region (Sum Aggregation)

sales_by_region_rimsha = df_rimsha.groupby('Region')['Sales'].sum()
print("\nTotal Sales By Region: \n", sales_by_region_rimsha)

Total Sales By Region:
 Region
East     520
North    400
South    380
West     710
Name: Sales, dtype: int64

In [8]:
# Aggregating Sales and Quantity by Product (Mean Aggregation)

mean_by_product_rimsha = df_rimsha.groupby('Product')[['Sales', 'Quantity']].mean()
print("\nMean Sales & Quantity By Product: \n", mean_by_product_rimsha)

Mean Sales & Quantity By Product:
               Sales   Quantity
Product
A        253.333333  16.000000
B        273.333333  18.666667
C        215.000000  13.000000

In [9]:
# Aggregating Count of Sales by Region (Count Aggregation)

count_by_region_rimsha = df_rimsha.groupby('Region')['Sales'].count()
print("\nCount Of Sales Records By Region: \n", count_by_region_rimsha)

Count Of Sales Records By Region:
 Region
East     2
North    2
South    2
West     2
Name: Sales, dtype: int64

In [10]:
# Custom Aggregation: Calculate Min and Max Sales by Region

custom_aggregation_rimsha = df_rimsha.groupby('Region')['Sales'].agg(['min', 'max'])
print("\nCustom Aggregation (Min & Max Sales By Region): \n", custom_aggregation_rimsha)

Custom Aggregation (Min & Max Sales By Region):
         min  max
Region
East    220  300
North   150  250
South   180  200
West    310  400

In [11]:
# Step 3: Multi-Level Aggregation
# Aggregating Sales by Region and Product

multilevel_agg_rimsha = df_rimsha.groupby(['Region', 'Product'])['Sales'].sum()
print("\nSales By Region & Product: \n", multilevel_agg_rimsha)

Sales By Region & Product:
 Region  Product
East    A          300
        B          220
North   A          150
        C          250
South   B          200
        C          180
West    A          310
        B          400
Name: Sales, dtype: int64

In [13]:
# Step 4: Reset Index for Multi-Level Aggregation

multilevel_agg_reset_rimsha = multilevel_agg_rimsha.reset_index()
print("\nSales By Region & Product (Reset Index): \n", multilevel_agg_reset_rimsha)

Sales By Region & Product (Reset Index):
   Region Product  Sales
0   East       A    300
1   East       B    220
2  North       A    150
3  North       C    250
4  South       B    200
5  South       C    180
6   West       A    310
7   West       B    400

## Objective: 
### To understand and implement:
### Time Aggregation: Aggregating data over different time periods (e.g. monthly, yearly)
### Spatial Aggregation: Aggregating data by spatial attributes (e.g. by region, city)

In [15]:
import pandas as pd 

# Step 1: Extend Dataset with Time and Spatial Data
data_rimsha1 = {
    'Region': ['North', 'South', 'East', 'West', 'North', 'South', 'East', 'West'],
    'City': ['City1', 'City2', 'City3', 'City4', 'City1', 'City2', 'City3', 'City4'],
    'Product': ['A', 'B', 'A', 'B', 'C', 'C', 'B', 'A'],
    'Sales': [150, 200, 300, 400, 250, 180, 220, 310],
    'Quantity': [10, 15, 20, 25, 12, 14, 16, 18],
    'Date': pd.to_datetime(['2024-01-01', '2024-01-02', '2024-02-01', '2024-02-03',
                            '2024-03-01', '2024-03-02', '2024-04-01', '2024-04-03'])
}

In [16]:
df_rimsha1 = pd.DataFrame(data_rimsha1)
print("Extended Dataset: \n", df_rimsha1)

Extended Dataset:
   Region   City Product  Sales  Quantity       Date
0  North  City1       A    150        10 2024-01-01
1  South  City2       B    200        15 2024-01-02
2   East  City3       A    300        20 2024-02-01
3   West  City4       B    400        25 2024-02-03
4  North  City1       C    250        12 2024-03-01
5  South  City2       C    180        14 2024-03-02
6   East  City3       B    220        16 2024-04-01
7   West  City4       A    310        18 2024-04-03

In [18]:
# Time Aggregation
# -----------------------------

# Step 2: Set Date Column as Index (optional)

df_rimsha1.set_index('Date', inplace = True)

In [19]:
# Aggregating Sales by Month

monthly_sales_rimsha = df_rimsha1.resample('M')['Sales'].sum()
print("\nTotal Sales By Month: \n", monthly_sales_rimsha)

Total Sales By Month:
 Date
2024-01-31    350
2024-02-29    700
2024-03-31    430
2024-04-30    530
Freq: M, Name: Sales, dtype: int64

In [21]:
# Aggregating Sales by Quarter

quaterly_sales_rimsha = df_rimsha1.resample('Q')['Sales'].sum()
print("\nTotal Sales By Quarter: \n", quaterly_sales_rimsha)

Total Sales By Quarter:
 Date
2024-03-31    1480
2024-06-30     530
Freq: Q-DEC, Name: Sales, dtype: int64

In [22]:
# Aggregating Sales by Year

yerly_sales_rimsha = df_rimsha1.resample('Y')['Sales'].sum()
print("\ntotal Sales By Year: \n", yerly_sales_rimsha)

total Sales By Year:
 Date
2024-12-31    2010
Freq: A-DEC, Name: Sales, dtype: int64

In [23]:
# Reset Index to Restore Original Structure

df_rimsha1.reset_index(inplace = True)

In [24]:
# Spatial Aggregation
# -----------------------------

# Step 3: Aggregating Sales by Region

sales_by_region_rimsha1 = df_rimsha1.groupby('Region')['Sales'].sum()
print("\nTotal Sales By Region: \n", sales_by_region_rimsha1)

Total Sales By Region:
 Region
East     520
North    400
South    380
West     710
Name: Sales, dtype: int64

In [25]:
# Aggregating Sales by City

sales_by_city_rimsha = df_rimsha1.groupby('City')['Sales'].sum()
print("\nTotal Sales By City: \n", sales_by_city_rimsha)

Total Sales By City:
 City
City1    400
City2    380
City3    520
City4    710
Name: Sales, dtype: int64

In [26]:
# Aggregating Sales by Region and City

sales_by_region_city_rimsha1 = df_rimsha1.groupby(['Region', 'City'])['Sales'].sum()
print("\nTotal Sales By Region & City: \n", sales_by_region_city_rimsha1)

Total Sales By Region & City:
 Region  City
East    City3    520
North   City1    400
South   City2    380
West    City4    710
Name: Sales, dtype: int64

In [27]:
# Step 4: Export Spatial Aggregation Results

sales_by_region_city_reset_rimsha1 = sales_by_region_city_rimsha1.reset_index()

In [28]:
sales_by_region_city_reset_rimsha1.to_csv("spatial_aggregation_rimsha.csv", index = False)
print("\nSpatial Aggregation Data Saved To 'spatial_aggregation_rimsha.csv'")

Spatial Aggregation Data Saved To 'spatial_aggregation_rimsha.csv'